.heading-main {
  color: #fafafa;
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.25;

}

.subtitle {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
}

.body-text {
  color: #fafafa;
  text-align: right;
  font-size: 1 rem;
  line-height: 1.625;
}

.nohemi-heading {
  font-family: 'Nohemi', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 150px;
  line-height: 120%;
  letter-spacing: 0%;
 
}